// Shared declarations for certain elements

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
fieldset,
figure,
pre {
    margin: 0;
    padding-bottom: 1rem;

    &:last-child {
        padding-bottom: 0;
    }
}

ul,
ol,
dd {
    padding-left: 1rem;
}
