@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }

    .pt-#{$i} {
        padding-top: #{$i}rem;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}rem;
    }
}
