.site-header {
    display: block;
    position: fixed;
    width: 100%;
    background-color: $grey;

    &.scrolled {
        .site-header__image {
            top: -1.75rem;
            left: -1.75rem;
            transform: scale(.5);
        }
    }
}

.site-header__container {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
    padding: 1.75rem 0;
}

.site-header__image {
    @include flex(0, 0, 11.25rem);
    position: absolute;
    top: 25%;
    left: 1rem;
    max-width: 11.25rem;
    transition: transform .2s ease, top .2s ease, left .2s ease;

    @media screen and (max-width: $breakpoint-mobile) {
        top: -1.75rem;
        left: -1.75rem;
        transform: scale(.5);
    }

    img {
        width: 100%;
        height: 11.25rem;
        border-radius: 50%;
        box-shadow: .125rem .25rem .125rem transparentize($black, .75);
    }
}

.site-header__nav {
    @include flex(1, 1, 100%);

    ul {
        @include flexbox;
        @include unstyled-list;
        @include justify-content(flex-end);

        li {
            padding-right: 1.25rem;
            font-size: 1.25rem;

            &:last-child {
                padding: 0;
            }
        }
    }
}
