// Base styles for generic elements

html {
    background-color: $white;
}

main {
    padding-top: 5.375rem;
}

body {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height: 100vh;
}

img {
    max-width: 100%;
}

iframe {
    display: block;
}

hr {
    height: 1px;
    margin: 0 0 1rem;
    padding: 0;
    border: 0;
    background-color: $grey;
}
