{% extends 'no-ui.html' %}

{% block title %}Atoms{% endblock %}

{% block extra_head %}
    <style>
        body {
            padding: 2rem 0;
        }

        h2.category-title {
            margin: 40px 0;
            padding: 5px 10px;
            background: #eee;
        }
    </style>
{% endblock %}

{% block body %}
    {# Use Django includes to pull in atoms from files #}
    {# {% include 'atoms/[atom].html' %} #}

    <section class="wrapper" style="padding-bottom: 2rem;">
        <a href="index.html">Back to index</a>
    </section>

    <section class="wrapper">
        <h1>Atoms</h1>

        <h2 class="category-title">Basic Text</h2>
        {% include 'atoms/text.html' %}

        <h2 class="category-title">Form Fields</h2>
        <form>
            {% with placeholder='Text input' %}{% include 'atoms/form/text-input.html' %}{% endwith %}
            {% with placeholder='Textarea' %}{% include 'atoms/form/textarea.html' %}{% endwith %}
            {% include 'atoms/form/select.html' %}
            {% include 'atoms/form/checkbox-single.html' %}
            {% include 'atoms/form/checkbox-multiple.html' %}
            {% include 'atoms/form/radio.html' %}
            {% include 'atoms/form/file.html' %}
            {% include 'atoms/form/submit.html' %}
        </form>

        <h2 class="category-title">Buttons</h2>
        {% include 'atoms/button/default.html' %}
    </section>
{% endblock %}
