{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tom Bannister</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include '_site-meta.html' %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'dist/css/main.css' %}"/>

        {% block extra_head %}{% endblock %}
    </head>

    <body>
        <section class="page">
            <div class="page__container">
                <h1>My website is currently being redesigned, but will be back soon</h1>
                <p>If you want to get in touch email me at <a href="mailto:tombannister94@gmail.com" title="Email me">tombannister94@gmail.com</a>, check out <a href="https://github.com/tombannister-94" target="_blank" rel="noopener noreferrer" title="Tom Bannister on GitHub">my GitHub</a> or pop me a message on <a href="https://www.linkedin.com/in/thomas-bannister-aa815b107/" title="Tom Bannister on LinkedIn" target="_blank" rel="noopener noreferrer">LinkedIn</a>.</p>
            </div>
        </section>
    </body>
</html>
