{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tom Bannister | Frontend Developer</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include '_site-meta.html' %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'dist/css/main.css' %}"/>

        {% block extra_head %}{% endblock %}
    </head>

    <body class="no-js">
        <section class="page">
            <div class="page__container">
                <h1>My website is currently being redesigned, but will be back soon</h1>
                <p>In the mean time send me an email using <a target="_blank" rel="noopener noreferrer"  href="mailto:tombannister94@gmail.com" title="Email me">tombannister94@gmail.com</a>, check out <a target="_blank" rel="noopener noreferrer"  href="https://github.com/tombannister-94" target="_blank" rel="noopener noreferrer" title="Tom Bannister on GitHub">my GitHub</a> or pop me a message on <a target="_blank" rel="noopener noreferrer"  href="https://www.linkedin.com/in/thomas-bannister-aa815b107/" title="Tom Bannister on LinkedIn" target="_blank" rel="noopener noreferrer">LinkedIn</a>. If you're eager, check out some of my recent work using the cards below.</p>
            </div>
        </section>

        <section class="projects-carousel">
            <div class="projects-carousel__slides">
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.thebraintumourcharity.org/" title="The Brain Tumour Charity">
                        <p>The Brain Tumour Charity</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.giantdigital.co.uk/" title="Giant Digital">
                        <p>Giant Digital</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.make-a-wish.org.uk/" title="Make-A-Wish UK">
                        <p>Make-A-Wish UK</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://harpfacility.com/" title="Harp Facility">
                        <p>Harp Facility</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.climatecare.org/" title="ClimateCare">
                        <p>ClimateCare</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://donate.prevent-suicide.org.uk/donate/" title="Grassroots Donations">
                        <p>Grassroots Suicide Prevention - Donations</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.londonschool.com/" title="The London School of English">
                        <p>The London School of English</p>
                        <span>Frontend contributor</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.macularsociety.org/" title="Macular Society">
                        <p>Macular Society</p>
                        <span>Frontend contributor</span>
                    </a>
                </div>
                <div class="projects-carousel__slide">
                    <a target="_blank" rel="noopener noreferrer"  href="https://www.thewishcentre.org/" title="The Wish Centre">
                        <p>The Wish Centre</p>
                        <span>Lead frontend developer</span>
                    </a>
                </div>
            </div>
        </section>

        <script src="{% static 'dist/js/main.js' %}"></script>
    </body>
</html>
