{% load static %}

<header class="site-header">
    <div class="wrapper">
        <div class="site-header__container">
            <div class="site-header__image">
                <img src="{% static 'media/placeholder.jpg' %}" alt="Tom Bannister profile picture" />
            </div>
            <div class="site-header__nav">
                <ul>
                    <li><a href="#" title="See more about link juan">Link Juan</a></li>
                    <li><a href="#" title="See more about link juan">Link Duex</a></li>
                    <li><a href="#" title="See more about link juan">Link Trois</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
