$wrapper-width: 1300px;

$breakpoint-large-desktop: 1260px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 960px;
$breakpoint-mobile: 768px;
$breakpoint-small-mobile: 500px;
$breakpoint-tiny-mobile: 374px;
